.lets-start {
    background-image: url("/assets/images/lets-start-bg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
}