.d-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.checkbox-label-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2px 0px;
}
