:root {
  /* primary Primitives */
  --primary-50: #f1f8fa;
  --primary-100: #dcedf1;
  --primary-200: #bedbe3;
  --primary-300: #91c2cf;
  --primary-400: #5c9fb4;
  --primary-500: #4489a0;
  --primary-600: #396b81;
  --primary-700: #33596b;
  --primary-800: #314c59;
  --primary-900: #2c414d;
  --primary-950: #192933;

  /* secondary Primitives */
  --secondary-50: #f5f6f8;
  --secondary-100: #edeef2;
  --secondary-200: #e1e3ea;
  --secondary-300: #c9cbd8;
  --secondary-400: #b2b4c7;
  --secondary-500: #9d9fb7;
  --secondary-600: #8887a4;
  --secondary-700: #75748e;
  --secondary-800: #605f74;
  --secondary-900: #50505f;
  --secondary-950: #2f2f37;
}
