.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--guru-black-100);
}

.header-item {
  padding-inline: 1rem;
  cursor: pointer;
  &:hover {
    background-color: var(--surface-0) !important;
    border: 1px solid #e6e7ec !important;
    border-radius: 12px !important;
  }
}

.sub-item {
  cursor: pointer;
  padding-inline-start: 3px;
  &:hover {
    background-color: transparent !important;
    color: var(--guru-primary-500) !important;
    .dot {
      background-color: var(--guru-primary-500) !important;
    }
  }
}

.active {
  background-color: transparent !important;
  color: var(--guru-primary-500) !important;
  border: none !important;
  .dot {
    background-color: var(--guru-primary-500) !important;
  }
}
