<div class="lets-start w-full h-screen flex items-center justify-center p-4">
  <div
    class="card w-[clamp(300px,90%,600px)] shadow-lg rounded-[24px] overflow-hidden bg-white p-2!"
  >
    <!-- Top Section -->
    <div
      class="bg-(--primary-500)! py-8! flex flex-col items-center justify-center text-center gap-4 text-white rounded-[24px]"
    >
      <div class="bg-white h-[72px] w-[72px] rounded-[10px] flex items-center justify-center">
        <span class="icon-message text-4xl! text-(--primary-500)!"></span>
      </div>
      <h1 class="text-[clamp(24px,5vw,36px)]! font-bold!">
        {{ (step() === 'otp' ? 'auth.verifyYourAccount' : 'auth.createNewPassword') | translate }}
      </h1>
      <p class="text-[clamp(16px,5vw,20px)]! font-medium! opacity-90 leading-relaxed max-w-[400px]">
        {{ (step() === 'otp' ? 'auth.verificationCodeSent' : 'auth.newPasswordSubtext') | translate }}
      </p>
      @if (step() === 'otp') {
        <p class="text-[clamp(16px,5vw,18px)]! font-bold! opacity-100">
          {{ email }}
        </p>
      }
    </div>

    <!-- Bottom Section -->
    <div class="px-20! py-10! flex flex-col gap-8">
      <!-- OTP Step -->
      @if (step() === 'otp') {
        <div class="flex flex-col gap-8 items-center">
          <form [formGroup]="otpForm" class="flex flex-col gap-8 w-full items-center">
            <div class="flex flex-col gap-4 w-full items-center">
              <label class="font-bold! text-[16px]! text-[#1F2937]">
                {{ 'auth.enterVerificationCode' | translate }}
              </label>
              <uikit-otp
                formControlName="otp"
                [length]="4"
                [integerOnly]="true"
                [size]="'large'"
              ></uikit-otp>
            </div>

            <div class="w-full">
              <uikit-button
                [label]="'auth.verify' | translate"
                [icon]="language() === 'ar' ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
                [iconPosition]="language() === 'ar' ? 'left' : 'right'"
                [style]="{
                  borderRadius: '16px',
                  width: '100%',
                  height: '56px',
                  fontSize: '18px',
                }"
                [disabled]="otpForm.invalid "
                (click)="verifyOtp()"
              ></uikit-button>
            </div>
          </form>

          <div class="text-center">
            <span
              class="transition-colors duration-300"
              [ngClass]="{
                'text-gray-400 cursor-not-allowed': timerValue() > 0,
                'text-(--primary-500) cursor-pointer font-bold': timerValue() === 0,
              }"
              (click)="resendCode()"
            >
              {{ 'auth.resendCode' | translate }}
              @if (timerValue() > 0) {
                <span>({{ timerDisplay() }})</span>
              }
            </span>
          </div>
        </div>
      }

      <!-- Password Step -->
      @if (step() === 'password') {
        <form [formGroup]="resetPasswordForm" class="flex flex-col gap-6 w-full">
          <div class="flex flex-col gap-2 w-full">
            <label class="font-bold! text-[16px]! text-[#1F2937]">
              {{ 'auth.setAPassword' | translate }}
            </label>
            <uikit-input-password
              formControlName="password"
              [placeholder]="'auth.passwordPlaceholder' | translate"
            ></uikit-input-password>
          </div>

          <div class="flex flex-col gap-2 w-full">
            <label class="font-bold! text-[16px]! text-[#1F2937]">
              {{ 'auth.confirmPassword' | translate }}
            </label>
            <uikit-input-password
              formControlName="confirmPassword"
              [placeholder]="'auth.passwordPlaceholder' | translate"
            ></uikit-input-password>
          </div>

          <div class="mt-4 w-full">
            <uikit-button
              [label]="'auth.confirm' | translate"
              [icon]="language() === 'ar' ? 'pi pi-arrow-left' : 'pi pi-arrow-right'"
              [iconPosition]="language() === 'ar' ? 'left' : 'right'"
              [style]="{
                borderRadius: '16px',
                width: '100%',
                height: '56px',
                fontSize: '18px',
              }"
              [disabled]="resetPasswordForm.invalid"
              (click)="confirm()"
            ></uikit-button>
          </div>
        </form>
      }
    </div>
  </div>

  <div class="fixed bottom-8 right-8">
    <uikit-button
      [label]="'common.back' | translate"
      (click)="goBack()"
      [style]="{
        borderRadius: '12px',
        backgroundColor: 'white',
        color: '#374151',
        padding: '0.5rem 2rem',
        fontWeight: '700',
        boxShadow: '0 4px 6px -1px rgba(0, 0, 0, 0.1)',
      }"
    ></uikit-button>
  </div>
</div>
