<p-toast
  key="uiKitToast"
  (onClose)="onToastClosed($event)"
  [baseZIndex]="5000"
  [position]="'top-right'"
>
  <ng-template let-message #message>
    <div class="d-flex flex-col gap-1">
      <!-- Summary -->
      <div class="d-flex items-center gap-2 w-full">
        <i [class]="message.icon"></i>
        <span class="font-bold text-base">{{ message.summary }}</span>
      </div>

      <div class="d-flex gap-2 align-center">
        <!-- Detail -->

        @if(message.detail){
        <div class="text-sm text-gray-700 ml-6">
          {{ message.detail }}
        </div>
        }
        <!-- Action Button -->
        @if(message.data?.actionButtonTitle){
        <div class="mt-2 ml-6">
          <p-button
            [label]="message.data.actionButtonTitle"
            [severity]="message.severity"
            size="small"
            (click)="onActionClicked(message)"
          />
        </div>
        }
      </div>
    </div>
  </ng-template>
</p-toast>
