<form [formGroup]="form" (ngSubmit)="save()" class="flex-1 flex flex-col justify-between gap-10">
  <!-- Form Grid -->
  <div class="flex flex-col gap-8 w-full">
    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm text-gray-700">{{
        'profile.currentPassword' | translate
      }}</label>
      <uikit-input-password
        formControlName="currentPassword"
        [placeholder]="'profile.enterPassword' | translate"
      ></uikit-input-password>
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm text-gray-700">{{ 'profile.newPassword' | translate }}</label>
      <uikit-input-password
        formControlName="newPassword"
        [placeholder]="'profile.enterPassword' | translate"
      ></uikit-input-password>
    </div>

    <div class="flex flex-col gap-2">
      <label class="font-bold text-sm text-gray-700">{{
        'profile.confirmPassword' | translate
      }}</label>
      <uikit-input-password
        formControlName="confirmPassword"
        [placeholder]="'profile.enterPassword' | translate"
      ></uikit-input-password>
    </div>
  </div>

  <!-- Action Button -->
  <div class="flex justify-end pt-4 border-t border-gray-100">
    <uikit-button
      type="submit"
      [label]="'common.save' | translate"
      [style]="{ width: '120px', height: '40px', borderRadius: '12px', fontSize: '16px' }"
      (click)="save()"
    ></uikit-button>
  </div>
</form>
