// Utility Classes
// Define reusable CSS classes here
@use '../abstract/index' as abstracts;

// Base input styling mixin (converted from .chkui-input class)
// revisit colors
:where([readonly], .readonly):not(.p-colorpicker-preview) {
  @include abstracts.readonly-state;
}

:where([disabled], .p-disabled, .disabled) {
  @include abstracts.disabled-state;
}

// .uikit-input-text {
//   &.text-lowercase {
//     text-transform: lowercase;
//   }
//   &.text-uppercase {
//     text-transform: uppercase;
//   }
//   &.text-mixed {
//     text-transform: none;
//   }
// }

// .flex,
// .d-flex {
//   display: flex;
// }

// .flex-col {
//   flex-direction: column;
// }

// .justify-center {
//   justify-content: center;
// }

// .justify-between {
//   justify-content: space-between;
// }

// .align-center {
//   align-items: center;
// }
