// ======================== Myriad Pro Font (LTR) ================== //
// regular 400
@font-face {
  font-family: 'Myriad-Pro';
  src: url('/assets/fonts/myriad-pro/MYRIADPRO-REGULAR.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// regular 500
// @font-face {
//   font-family: 'Myriad-Pro';
//   src: url('/assets/myriadpro/myriad-pro/MYRIADPRO-REGULAR.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// semi-bold 600
@font-face {
  font-family: 'Myriad-Pro';
  src: url('/assets/fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// bold 700
@font-face {
  font-family: 'Myriad-Pro';
  src: url('/assets/fonts/myriad-pro/MYRIADPRO-BOLD.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// ======================== Cairo Font (RTL) ================== //

// regular 400
@font-face {
  font-family: 'Cairo';
  src: url('/assets/fonts/cairo/Cairo-Regular.woff2') format('woff2'),
    url('/assets/fonts/cairo/Cairo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// medium 500
// @font-face {
//   font-family: 'Cairo';
//   src: url('/assets/fonts/cairo/Cairo-Medium.woff2') format('woff2'),
//     url('/assets/fonts/cairo/Cairo-Medium.woff') format('woff');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// semi-bold 600
@font-face {
  font-family: 'Cairo';
  src: url('/assets/fonts/cairo/Cairo-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/cairo/Cairo-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// bold 700
@font-face {
  font-family: 'Cairo';
  src: url('/assets/fonts/cairo/Cairo-Bold.woff2') format('woff2'),
    url('/assets/fonts/cairo/Cairo-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
