<div class="fs-16 fw-medium uikit-input-password">
  <p-password
    [(ngModel)]="value"
    autocomplete="off"
    [feedback]="feedback()"
    [inputId]="inputId()"
    [toggleMask]="toggleMask()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [showClear]="showClear()"
    [toggleMask]="true"
    [fluid]="true"
    [ngStyle]="style"
    [invalid]="(control?.errors && control?.touched) || hasError()"
    (input)="onInputChange()"
    (onBlur)="onBlur()"
  ></p-password>

  @if (control?.errors && control?.touched || hasError()) {
  <uiKit-controls-error [error]="control?.errors"></uiKit-controls-error>
  }
</div>
